/* .MobileProjects{
  height: 30vw;
} */
.titleProjects{
  background-color: black;
  color: #fb03bc;
  text-align: center;
  padding: 2em;
}
.wrapperProjects{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
 background-color: black; 
  }

.sliderProjects{
  display: flex;
  padding: 2em 0;
}
  


/*classe item e largura*/
.Mobileitem{
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 25vw;
  border-radius: 1em;
  padding: 0 1em;
  cursor: pointer;
}
.capsula{
  border-radius: 1em;
  width: 80vw;
  height: 25vw;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.capsula img{
  border-radius: 1em;
  object-fit: cover;
  width: auto;
  height: 100%;
}

.capsula .p1{
  padding: 0.5em;
  font-size: 1.1em;
  width: 50%;
  color: white;}

  .p2{
    display: none;
    width: 50%;
    font-size: 1.8em;
    color: white;
    text-align: center;
    transform: translateY(30%);
  }

  .ProjectButton{
    position: absolute;
    color: #fb03bc;
    font-size: 3em;
    z-index: 5;
    padding: 1em;
    height: 100%;
    padding-top: 15%;
    cursor: pointer;
  }
  #ProjectLeft{
  left: 10px;
  }
  #ProjectRight{
  right: 10px;
  }

  @media screen and (max-width: 1100px){
    .Mobileitem .p1{
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: 900px){
    
    .Mobileitem{
      padding: 0.5em;
      display:flex;
      align-items: center;
    }
    .capsula img{
      display: none;
    }
    .p1{
      display: none;
    }
    .p2{
      display: block;
      height: 3.5em;
      font-size: 2.5rem;
      width: 100%;
    }

    .ProjectButton{
      height: auto;
      padding: 0em;
    }

  

  [capsula-index = '3'], [capsula-index = '-1']{
    background-image: url(../imgProjectsFundo/pizza.jpg);
  }

  [capsula-index = '0'], [capsula-index = '4']{
    background-image: url(../imgProjectsFundo/hamburgueria.jpg);
  }

  [capsula-index = '1'],[capsula-index = '5']{
    background-image: url(../imgProjectsFundo/estampas.jpg);
  }

  [capsula-index = '-2'], [capsula-index = '2']{
    background-image: url(../imgProjectsFundo/hip\ hop.jpg);
  }
  }

  @media screen and (max-width: 600px){
    .titleProjects{
      padding: 1em;
      font-size: 1.5em;
    }
  }
